# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# iOS
ios/Pods/
ios/build/

# Android
android/app/build/
android/.gradle/
android/build/

# Server
server/dist/
server/.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Misc
*.log
npm-debug.log*
